/* Welcome to Susy. Use this file to define screen styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" /> */
/* Reset --------------------------------------------------------------*/
/* line 14, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* HTML5 Reset --------------------------------------------------------------*/
/* line 107, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
section, article, aside, header, footer, nav, dialog, figure {
  display: block;
}

/* line 13, content/s/./_defaults.sass */
body {
  font-family: "Adobe Caslon Pro", Caslon, Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
  color: #4c4c4c;
}

/* line 20, content/s/./_defaults.sass */
a:link, a:visited {
  color: #005498;
}
/* line 22, content/s/./_defaults.sass */
a:focus, a:hover, a:active {
  color: #00467f;
  text-decoration: none;
}
/* line 25, content/s/./_defaults.sass */
a img {
  border: none;
}

/* line 30, content/s/./_defaults.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
/* line 32, content/s/./_defaults.sass */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 35, content/s/./_defaults.sass */
h1 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

/* line 39, content/s/./_defaults.sass */
h2 {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 0.75em;
}

/* line 43, content/s/./_defaults.sass */
h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
}

/* line 47, content/s/./_defaults.sass */
h4 {
  font-size: 1.125em;
  line-height: 1.333em;
  margin-bottom: 1.333em;
}

/* line 51, content/s/./_defaults.sass */
h5, h6 {
  margin-bottom: 1.5em;
  font-weight: bold;
}

/* line 57, content/s/./_defaults.sass */
cite, em, dfn {
  font-style: italic;
}

/* line 60, content/s/./_defaults.sass */
strong, dfn {
  font-weight: bold;
}

/* line 63, content/s/./_defaults.sass */
sup, sub {
  line-height: 0;
}

/* line 66, content/s/./_defaults.sass */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 70, content/s/./_defaults.sass */
address {
  margin-bottom: 1.5em;
  font-style: italic;
}

/* line 74, content/s/./_defaults.sass */
ins {
  text-decoration: underline;
}

/* line 77, content/s/./_defaults.sass */
del {
  text-decoration: line-through;
}

/* line 80, content/s/./_defaults.sass */
pre, code, tt {
  margin: 1.5em;
  margin-left: -1.5em;
  padding-left: 1.5em;
  border-left: 1px dotted;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

/* line 87, content/s/./_defaults.sass */
pre {
  white-space: pre;
}

/* line 90, content/s/./_defaults.sass */
code {
  display: block;
}

/* line 93, content/s/./_defaults.sass */
q {
  font-style: italic;
}
/* line 95, content/s/./_defaults.sass */
q em {
  font-style: normal;
}

/* line 98, content/s/./_defaults.sass */
p {
  margin-bottom: 1.5em;
}

/* line 101, content/s/./_defaults.sass */
blockquote, q {
  quotes: "" "";
}

/* line 104, content/s/./_defaults.sass */
blockquote {
  margin: 1.5em;
  margin-left: -1.5em;
  padding-left: 1.5em;
  border-left: 1px solid;
  font-family: "Adobe Caslon Pro", Caslon, Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
  font-style: italic;
}

/* line 113, content/s/./_defaults.sass */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 118, content/s/./_defaults.sass */
img {
  vertical-align: bottom;
}

/* line 135, content/s/./_defaults.sass */
ol {
  margin: 0 1.5em 1.5em 0;
  list-style: decimal;
}

/* line 138, content/s/./_defaults.sass */
ul {
  margin: 0 1.5em 1.5em 0;
  list-style: disc;
}

/* line 142, content/s/./_defaults.sass */
li ul, li ol {
  list-style-type: circle;
  margin: 0 1.5em 0.75em;
}

/* line 146, content/s/./_defaults.sass */
dl {
  margin-bottom: 1.5em;
  border-top-style: solid;
  border-top-width: 0.063em;
  padding-top: 1.438em;
}
/* line 149, content/s/./_defaults.sass */
dl dt {
  font-size: 1.125em;
  line-height: 1.333em;
  margin-bottom: 0.667em;
}

/* line 153, content/s/./_defaults.sass */
dd {
  margin-bottom: 1.5em;
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 1.438em;
}

/* line 160, content/s/./_defaults.sass */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 166, content/s/./_defaults.sass */
table, td, th {
  vertical-align: top;
}

/* line 169, content/s/./_defaults.sass */
th, thead th {
  font-weight: bold;
}

/* line 172, content/s/./_defaults.sass */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 177, content/s/./_defaults.sass */
th, td {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 180, content/s/./_defaults.sass */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* line 183, content/s/./_defaults.sass */
caption {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
}

/* line 189, content/s/./_defaults.sass */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 193, content/s/./_defaults.sass */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 197, content/s/./_defaults.sass */
label {
  font-weight: bold;
}

/* line 200, content/s/./_defaults.sass */
textarea, input:not([type="radio"]) {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

/* line 17, content/s/./_wheel.scss */
#sss {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  height: 500px;
  width: 500px;
  z-index: 5;
  border: none;
  overflow: hidden;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 10s;
}

/* line 25, content/s/./_wheel.scss */
#ppp {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  height: 500px;
  width: 500px;
  z-index: 5;
  border: none;
  overflow: hidden;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 14s;
}

/* line 33, content/s/./_wheel.scss */
#lll {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  height: 500px;
  width: 500px;
  z-index: 5;
  border: none;
  overflow: hidden;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: spinneg;
  -webkit-animation-duration: 15s;
}

/* line 41, content/s/./_wheel.scss */
#eee {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  height: 500px;
  width: 500px;
  z-index: 5;
  border: none;
  overflow: hidden;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 20s;
}

/* line 49, content/s/./_wheel.scss */
#nnn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  height: 500px;
  width: 500px;
  z-index: 5;
  border: none;
  overflow: hidden;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: spinneg;
  -webkit-animation-duration: 12s;
}

/* line 57, content/s/./_wheel.scss */
#ddd {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  height: 500px;
  width: 500px;
  z-index: 5;
  border: none;
  overflow: hidden;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: spinneg;
  -webkit-animation-duration: 16s;
}

/* line 65, content/s/./_wheel.scss */
#ooo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  height: 500px;
  width: 500px;
  z-index: 5;
  border: none;
  overflow: hidden;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 18s;
}

/* line 73, content/s/./_wheel.scss */
#rr1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  height: 500px;
  width: 500px;
  z-index: 5;
  border: none;
  overflow: hidden;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: spinneg;
  -webkit-animation-duration: 11s;
}

/* line 81, content/s/./_wheel.scss */
#rr2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  height: 500px;
  width: 500px;
  z-index: 5;
  border: none;
  overflow: hidden;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 24s;
}

@-webkit-keyframes spin {
  /* line 90, content/s/./_wheel.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 91, content/s/./_wheel.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinneg {
  /* line 95, content/s/./_wheel.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 96, content/s/./_wheel.scss */
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

/* line 3, content/s/./_layertest.sass */
#fartherbutton {
  position: relative;
  z-index: 5;
  width: 200px;
  height: 200px;
  text-align: center;
  background-color: blue;
}
/* line 14, content/s/./_layertest.sass */
#fartherbutton:hover, #fartherbutton:focus {
  background-color: green;
}

/* line 18, content/s/./_layertest.sass */
#closerbutton {
  position: relative;
  top: -150px;
  left: 50px;
  z-index: 10;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: red;
}
/* line 31, content/s/./_layertest.sass */
#closerbutton:hover, #closerbutton:focus {
  background-color: purple;
}

/* line 29, /usr/local/lib/ruby/gems/1.9.1/gems/compass-susy-plugin-0.7.0/sass/susy/././_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 33, /usr/local/lib/ruby/gems/1.9.1/gems/compass-susy-plugin-0.7.0/sass/susy/././_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 18, /usr/local/lib/ruby/gems/1.9.1/gems/compass-susy-plugin-0.7.0/sass/susy/_susy.scss */
body {
  text-align: center;
}

/* line 16, content/s/screen.sass */
#page {
  overflow: hidden;
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 63em;
  max-width: 100%;
  background-image: url('../i/grid.png');
  background-repeat: repeat;
  background-position: 2em 0;
}
/* line 8, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/./_hacks.scss */
#page {
  display: block;
}

/* line 20, content/s/screen.sass */
#page {
  overflow: visible;
}

/* line 58, content/s/screen.sass */
body {
  background-color: white;
  background: url(../i/noisebg.png) repeat;
  color: #0c2832;
}

/* line 63, content/s/screen.sass */
img {
  max-width: 100%;
}

/* line 66, content/s/screen.sass */
#fullwidth {
  display: inline;
  float: left;
  width: 93.651%;
  margin-right: 1.587%;
  display: inline;
  float: right;
  margin-right: 3.175%;
  /* ugly hacks for IE6-7 */
  #margin-left: -1em;
}

/* line 77, content/s/screen.sass */
#headerspace {
  position: relative;
  display: inline;
  float: left;
  width: 93.651%;
  margin-right: 1.587%;
  display: inline;
  float: right;
  margin-right: 3.175%;
  /* ugly hacks for IE6-7 */
  #margin-left: -1em;
  background: url(../i/headertemp.jpg) no-repeat;
  height: 271px;
  border-bottom: solid 6px rgba(0, 0, 0, 0.2);
  z-index: 200;
}

/* line 86, content/s/screen.sass */
#entry {
  position: relative;
  display: inline;
  float: left;
  width: 93.651%;
  margin-right: 1.587%;
  display: inline;
  float: right;
  margin-right: 3.175%;
  /* ugly hacks for IE6-7 */
  #margin-left: -1em;
  margin-top: -6px;
  border-bottom: solid 6px rgba(0, 0, 0, 0.2);
  padding-bottom: 2em;
  overflow: visible;
}

/* line 118, content/s/screen.sass */
#leftistshowcase {
  display: inline;
  float: left;
  width: 57.627%;
  margin-right: 1.695%;
  margin-top: 3em;
}
/* line 121, content/s/screen.sass */
#leftistshowcase #imgplaceholder {
  max-width: 32em;
  margin-right: 0em;
  border: solid 6px rgba(255, 255, 255, 0.4);
  height: 300px;
  background: #f5f5d8;
}
/* line 129, content/s/screen.sass */
#leftistshowcase img {
  border: solid 6px rgba(255, 255, 255, 0.4);
}

/* line 134, content/s/screen.sass */
#rightmongershowcase {
  display: inline;
  float: left;
  width: 57.627%;
  margin-right: 1.695%;
  margin-top: 3em;
  display: inline;
  float: right;
  margin-right: 0;
  /* ugly hacks for IE6-7 */
  #margin-left: -1em;
}
/* line 138, content/s/screen.sass */
#rightmongershowcase #imgplaceholder {
  max-width: 32em;
  margin-left: 0em;
  margin-right: 1em;
  border: solid 6px rgba(255, 255, 255, 0.4);
  height: 300px;
  background: #f5f5d8;
}
/* line 146, content/s/screen.sass */
#rightmongershowcase img {
  max-width: 95%;
  float: right;
  border: solid 6px rgba(255, 255, 255, 0.4);
}

/* line 152, content/s/screen.sass */
#leftistdescrip {
  display: inline;
  float: left;
  width: 40.678%;
  margin-right: 1.695%;
  margin-top: 3em;
  display: inline;
  float: right;
  margin-right: 0;
  /* ugly hacks for IE6-7 */
  #margin-left: -1em;
}
/* line 105, content/s/screen.sass */
#leftistdescrip p {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-top: 1em;
  padding-right: 1em;
}
/* line 110, content/s/screen.sass */
#leftistdescrip h1 {
  font-size: 1.5em;
  line-height: 1em;
}
/* line 113, content/s/screen.sass */
#leftistdescrip .scriphead {
  font-size: 1.75em;
  line-height: 1.714em;
  text-shadow: black 1px 1px 0px;
  line-height: 1em;
}

/* line 162, content/s/screen.sass */
#rightmongerdescrip {
  display: inline;
  float: left;
  width: 40.678%;
  margin-right: 1.695%;
  margin-top: 3em;
}
/* line 105, content/s/screen.sass */
#rightmongerdescrip p {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-top: 1em;
  padding-right: 1em;
}
/* line 110, content/s/screen.sass */
#rightmongerdescrip h1 {
  font-size: 1.5em;
  line-height: 1em;
}
/* line 113, content/s/screen.sass */
#rightmongerdescrip .scriphead {
  font-size: 1.75em;
  line-height: 1.714em;
  text-shadow: black 1px 1px 0px;
  line-height: 1em;
}
/* line 168, content/s/screen.sass */
#rightmongerdescrip #entryheader {
  margin-left: 1em;
}
/* line 171, content/s/screen.sass */
#rightmongerdescrip .scriphead {
  max-width: 100%;
  background: rgba(12, 39, 50, 0.8);
  color: white;
  margin-left: -90em;
  padding-left: 90em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 192, content/s/screen.sass */
#rightmongerdescrip .scriphead:hover, #rightmongerdescrip .scriphead:focus {
  background-color: rgba(16, 63, 83, 0.8);
}

/* line 195, content/s/screen.sass */
.gpm {
  background: url(../i/gpmbg.png) repeat;
  z-index: 195;
  padding-bottom: 2em;
  color: white;
}

/* line 203, content/s/screen.sass */
.gpmbg {
  background-color: purple;
  background: url(../i/gpmbg.png) repeat;
}

/* line 207, content/s/screen.sass */
.gpm2test {
  z-index: 190;
  background: url(../i/gpmbg.png) repeat-y;
  padding-bottom: 2em;
}

/* line 214, content/s/screen.sass */
#realfull {
  clear: both;
  margin-right: 3.175%;
  margin-left: 3.175%;
}

/* line 217, content/s/screen.sass */
#leftcol {
  display: inline;
  float: left;
  width: 40.678%;
  margin-right: 1.695%;
  margin-top: 4.5em;
  color: #0c2832;
}

/* line 222, content/s/screen.sass */
.splenhead {
  background: rgba(12, 39, 50, 0.8);
  color: white;
  margin-left: -90em;
  padding-left: 90em;
  padding-right: 1em;
  padding-top: 1.25em;
  padding-bottom: 1em;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 240, content/s/screen.sass */
.splenhead:hover, .splenhead:focus {
  background-color: rgba(16, 63, 83, 0.8);
}
