/* Welcome to Susy. Use this file to define screen styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />

// Imports --------------------------------------------------------------*/

@import defaults

// Layout --------------------------------------------------------------

+susy

// change '#page' to match your HTML container element(s)
#page
  +container
  +show-grid("grid.png")

// show-grid loads a 64+16x24 grid image by default
// For other grid settings, run `compass grid-img 30+10x20`
// Where 30 is the column width, 10 is the gutter width, 
// and 20 is the (optional) line-height.

//#page *
  background-color: rgba(0, 0, 0, 0.125)

// Styles --------------------------------------------------------------

// Variables -----------------------------------------------------

$white      : #FFF
$bgred      : #3b000b

$sepheight  : 6px
$sepcolor   : rgba(0, 0, 0, 0.2)

// General Styles

body
  background-color: $bgred
  color: $white
  
img
  max-width: 100%
  
#fullwidth
  +columns(12)
  +omega
  //+leader(1, 24px)
  
  //*
    background-color: rgba(0, 0, 0, 0.3)

#leftmost
  +columns(9, 12)

#sitetitle
  +columns(9, 9)
  //padding: 24px 24px 24px 24px
  background-color: rgba(0, 0, 0, 0.25)
  //background-color: rgba(0, 50, 94, 0.5)
  
  #splendorr
    +adjust-font-size-to(48px)
    padding: 24px 24px 0px 24px
  #subtitorr
    +adjust-font-size-to(24px)
    margin-left: 8em
    padding-bottom: 16px
  
#toc
  +columns(8, 9)
  +prefix(1, 9)
  +leader(1, 24px)
  //+omega(8)
  padding-top: 16px
  padding-bottom: 16px
  background-color: rgba(0, 0, 0, 0.25)
  
.toctitle
  +adjust-font-size-to(30px)
  font-style: italic
.tocheader
  +adjust-font-size-to(24px)
  padding-left: 16px
  
#rightmost
  +columns(3, 12)
  +omega(12)
  background-color: rgba(0, 0, 0, 0.25)
  
// Layer Test

#fartherbutton
  position: relative
  z-index: 5
  width: 200px
  height: 200px
  text-align: center

  //border: solid 8px blue
  //text-align:right
  background-color: blue
  
  &:hover, &:focus
    //border: solid 8px green
    background-color: green
    
#closerbutton
  position: relative
  top: -150px
  left: 50px
  z-index: 10
  width: 100px
  height: 100px
  text-align: center
  
  //border: solid 8px red
  //text-align:right
  background-color: red
  
  &:hover, &:focus
    //border: solid 8px purple
    background-color: purple
    
// Pertblock2 Styles

#headerspace
  position: relative
  +columns(12)
  +omega
  background: url(/i/headertemp.jpg) no-repeat
  height: 271px
  border-bottom: solid $sepheight $sepcolor
  z-index: 200
  
#entry
  position: relative
  +columns(12)
  +omega
  margin-top: -$sepheight
  border-bottom: solid $sepheight $sepcolor
  
@mixin showcase
  +columns(7,12)
  +leader(1, 16px)
  //align: center
  //+alpha
  //margin-left: -$sepheight 
  //margin-right: -$sepheight
  //border: solid $sepheight rgba(255, 255, 255, 0.4)
  //height: 300px
  
@mixin descrip
  +columns(5,12)
  +leader(1, 16px)
  //margin-left: -$sepheight 
  //margin-right: -$sepheight
  //border: solid $sepheight rgba(255, 255, 255, 0.4)
  //height: 400px
  
  p
    +adjust-font-size-to(24px)
    +leader(1, 24px)
    //width: 22em
    //margin-left: 0em
    //margin-right: 1em
    //border: solid $sepheight rgba(255, 255, 255, 0.4)
  
#leftistshowcase
  +showcase
  
  #imgplaceholder
    max-width: 32em
    margin-left: 1em
    margin-right: 0em
    border: solid $sepheight rgba(255, 255, 255, 0.4)
    height: 300px
    background: blue
  
#leftistdescrip
  +descrip
  +omega(12)
  
  p
    margin-right: 1em
  
  #entryheader
    margin-right: 1em
  
#rightmongerdescrip
  +descrip
  
  p
    margin-left: 1em
    
  #entryheader
    margin-left: 1em
    

  
#rightmongershowcase
  +showcase
  +omega(12)
  
  #imgplaceholder
    max-width: 32em
    margin-left: 0em
    margin-right: 1em
    border: solid $sepheight rgba(255, 255, 255, 0.4)
    height: 300px
    background: blue

    
//#entryheader
  margin-right: 1em
  
  
.gpm
  background: url(/i/gpmbg.png) repeat-y
  //opacity: 0.8
  z-index: 195
  //height: 600px
  padding-bottom: 2em
  
.gpm2test
  z-index: 190
  background: url(/i/gpmbg.png) repeat-y
  padding-bottom: 2em