---
title: Home
---

#fullwidth
  #leftmost

    #sitetitle
      #splendorr N. O. Splendorr
      #subtitorr Portfolio
    #toc
      %span.toctitle Table of Contents
      %br
      %span.tocheader Web
      %br
      1. Green Properties

  #rightmost
    hey