--- 
title: Portfolio
---

#fullwidth
  #leftcol
    .splenhead
      %img{ :src => "/i/NOSportfolio-title.png" }
    %br
    %h4
      This is a less-than-exhaustive selection of my recent graphic, web, and other design work.
      
#entry
  #rightmongerdescrip
    .scriphead Green Properties Management
    %p
      Website and identity for an Athens, GA apartment company.
  #rightmongershowcase
    %a{ :href => "http://greenpropertiesmanagement.com", :target => "_new"}
      %img{ :src => "/i/entries/GPMfront.jpg" }
    %br
    #caselets
      #caselet1
        %img{ :src => "/i/entries/GPMfront.jpg" }
      #caselet2
        %img{ :src => "/i/entries/GPMfront.jpg" }
      #caselet3
        %img{ :src => "/i/entries/GPMfront.jpg" }
    
        
#entry
  #rightmongerdescrip
    .scriphead
    %p
  #rightmongershowcase