--- 
title: Portfolio
---

#headerspace
  //%img{:src => "/i/headertemp.png"}
    

#entry.gpm
  #leftistshowcase
    #imgplaceholder
  #leftistdescrip
    #entryheader
      %img{:src => "/i/gpmheader.png"}
    %p
      Website and identity for an Athens
      apartment company.

#entry.gpm2test
  #rightmongerdescrip
    #entryheader
      %img{:src => "/i/gpmheader.png"}
    %p
      Website and identity for an Athens
      apartment company.
  #rightmongershowcase
    #imgplaceholder