--- 
title: Portfolio
---

#fullwidth
  #leftcol
    .splenhead
      %img{ :src => "/i/NOSportfolio-title.png" }
    %br
    %h4
      This is a less-than-exhaustive selection of my recent graphic, web, and other design work.
      
#entry
  #leftistshowcase
    %img{ :src => "/i/entries/GPMfront.jpg" }
  #leftistdescrip 
    .scriphead Green Properties Management
    %p
      Website and identity for an Athens
      apartment company.
      
#entry
  #rightmongerdescrip
    .scriphead Green Properties Management
    %p
      Website and identity for an Athens
      apartment company.
  #rightmongershowcase
    %img{ :src => "/i/entries/GPMfront.jpg" }