--- 
title: A New Item
---

#sss
  %img{:src => "/i/splendorrwheel/ssssss.png"}
#ppp
  %img{:src => "/i/splendorrwheel/pppppp.png"}
#lll
  %img{:src => "/i/splendorrwheel/l.png"}
#eee
  %img{:src => "/i/splendorrwheel/e.png"}
#nnn
  %img{:src => "/i/splendorrwheel/n.png"}
#ddd
  %img{:src => "/i/splendorrwheel/d.png"}
#ooo
  %img{:src => "/i/splendorrwheel/o.png"}
#rr1
  %img{:src => "/i/splendorrwheel/r1.png"}
#rr2
  %img{:src => "/i/splendorrwheel/r2.png"}