!!! 5
%html
  %head
    %title A Brand New nanoc Site - <%= @item[:title] %>
    %link{:href => "/s/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "nanoc 3.1.0", :name => "generator"}/
  
  %body
    #page
      =yield